@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background-color: rgb(254, 247, 224);
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #555555;
}
p{
  font-family: 'Ysabeau', sans-serif;
  font-size: 22px;
}
span{
  font-size: 22px;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
img{
  height: 30px;
  vertical-align: middle;
  padding: 10px;
  margin-left: 20px;
}