@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background-color: rgb(254, 247, 224);
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #555555;
}
p{
  font-family: 'Ysabeau', sans-serif;
  font-size: 22px;
}
.zoho img{
  padding: 0px 0px 0px 10px; 
  text-align: center; 
  width: 120px;
}
.zoho a{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 6px;
  font-family: 'Montserrat', sans-serif;
  text-align: center; 
  display: inline-block; 
  width: 190px; 
  font-weight: bold;
  padding-bottom: 10px;
}
span{
  font-size: 22px;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
img{
  height: 30px;
  vertical-align: middle;
  padding: 10px;
  margin-left: 20px;
}